process { 
    resourceLimits = [ cpus: 3, memory: '14.GB' ]
    withName: 'FASTQC' { 
        container = 'file:///cvmfs/singularity.galaxyproject.org/all/fastqc:0.12.1--hdfd78af_0' 
    }
    withName: 'GTF_GENE_FILTER' { 
        container = 'file:///cvmfs/singularity.galaxyproject.org/all/python:3.9' 
    }
    withName: 'STAR_GENOMEGENERATE' { 
        container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/26/268b4c9c6cbf8fa6606c9b7fd4fafce18bf2c931d1a809a0ce51b105ec06c89d/data' 
    }
    withName: 'STAR_ALIGN' { 
        container = 'file:///cvmfs/singularity.galaxyproject.org/all/star:2.7.10b--h9ee0642_0' 
    }
    withName: 'ANNDATAR_CONVERT' { 
        container = 'https://community-cr-prod.seqera.io/docker/registry/v2/blobs/sha256/d8/d8036a262b63ab783572e3cb3120b6b138593e19d93a1059b9bfef80785c7218/data' 
    }
    withName: 'MULTIQC' { 
        container = 'file:///cvmfs/singularity.galaxyproject.org/all/multiqc:1.34--pyhdfd78af_0' 
    }
}

singularity {
    cacheDir = '/mnt/data/.singularity_cache'
}